# Python
src/feature_selection/__pycache__/
venv/ env/
src/causal_discovery/__pycache__/
src/causal_discovery/GNN/__pycache__/

# Jupyter
.ipynb_checkpoints/

# OS & editors
.DS_Store Thumbs.db
.vscode/ *~ *.swp

# Data
adata_balanced.h5ad

#logs
training_log_rf.txt
src/causal_discovery/GNN/results/
src/causal_discovery/GNN/wandb
